@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Title</h2>


<p>The Bead Project Finder is your source for locating favorite beading projects that you have lost track of over the years -- and discovering new ones that you never knew about. No more rifling through back issues or hitting roadblock after roadblock on popular social media channels, vainly seaching for a project you vaguely remember from 10 years ago! A free 30-day trial will give you immediate information about hundreds of projects, including the magazine issue it originally appeared in, the title, designer, major tehcniques, and supplies used. After the trial period ends, you can choose to subscribe on a month-to-month basis for just $2 per month or sign up for one year for $10.</p>
