@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>BEAD PROJECT FINDER</h1></center>
    <center><p class="lead">Welcome to Bead Project Finder, the easiest way to track down your favorite beading projects -- and discover new ones!</p></center>
</div>

<center><img src="~/Images/sextonombre.jpg" /></center>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Join a community of beaders and discover how the Bead Project Finder can help you make better use of your collection of beading books and magazines. 
        </p>
        <p>@Html.ActionLink("Sign up for a free trial", "Register", "Account")</p>
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Search an expansive collection of beading magazines and books to find exactly what you're looking for. Search by title, designer, technique, supplies, and more.</p>
        <p>@Html.ActionLink("Start searching now", "Register", "Account")</p>
    </div>
    <div class="col-md-4">
        <h2>Share</h2>
        <p>Join our growing community of bead lovers and let them see what you've been up to. Share photos of your creations; comment on and rate patterns and tutorials.</p>
        <p>>@Html.ActionLink("Upload your images", "Register", "Account")</p>
    </div>
</div>