@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>BEAD PROJECT FINDER</h1></center>
    <center><p class="lead">Welcome to Bead Project Finder, the easiest way to track down your favorite beading projects -- and discover new ones!</p></center>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            Text goes here with basic overview of how to sign up. Update buttons with real links.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Search</h2>
        <p>Explain how search function works.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Organize</h2>
        <p>Info about favorites feature goes here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Share</h2>
        <p>Message about uploading photos goes here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>