
@*@{
    ViewBag.Title = "Map";
}*@

<!DOCTYPE Html>
<html>
<head>
    <title>Bead Shop Finder Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <style>

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <br />
    <h3>Bead Shop Finder</h3>
    <div id="map"></div>
    <script>
        function initMap() {

            var options = {
                zoom: 9,
                center: { lat: 43.038902, lng: -87.906471 }
            }

            var map = new google.maps.Map(
                document.getElementById('map'), options);


            var markers = [
                {
                    coords: { lat: 43.038026, lng: -88.148276 },
                    content: '<h1>Eclectica Beads</h1>)'
                },
                {
                    coords: { lat: 43.089304, lng: -88.149800 },
                    content: '<h1>Midwest Beads</h1>)'
                },
                {
                    coords: { lat: 42.966207, lng: -88.008632 },
                    content: '<h1>Knot Just Beads</h1>)'
                },
                {
                    coords: { lat: 43.039160, lng: -87.906337 },
                    content: '<h1>Planet Bead</h1>)'
                },
                {
                    coords: { lat: 43.183576, lng: -89.212821 },
                    content: '<h1>Meant To Bead</h1>)'
                }
            ];

            for (var i = 0; i < markers.length; i++) {
                addMarker(markers[i]);
            }


            function addMarker(props) {
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: map
                });

                if (props.content) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: props.content
                    });

                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });
                }
            }
        }
    </script>
    
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.NotAGoogleKey&callback=initMap">
    </script>
</body>
</html>
    
    
    



