@model ProjectFinderApp.Models.Subscriber

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Secure Payment with Stripe</h2>
<p>We use Stripe, a secure payment processing service, to handle payments. As our customer, you do not need to have a separate Stripe account set up and your payment details are kept safe and secure.</p>
<form action="/Payment/Charge" method="POST">
    <article>
        <label>Amount: $10.00</label>
    </article>
    <script src="//checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="1000">
    </script>
</form>

