@model ProjectFinderApp.Models.Subscriber

<!DOCTYPE html>
<html>
<head>
    <title>Bead Project Finder</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="basic.css">
</head>
<body>
    <h1>👍 Thanks for subscribing! 💙</h1>
    <p>Dive in and start searching to find all your favorite designs on Bead Project Finder.</p>
    {{#if amount}}<p>This test account has so far made ${{amount}} in test money!</p>{{/if}}
</body>
</html>

<p>
    @Html.ActionLink("Go To My Account", "Details", new { id = Model.SubscriberID }) |
</p>

